<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>454968973619-m93ldpk1pbo5fbb21gffrp2aknq9oudo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454968973619-m93ldpk1pbo5fbb21gffrp2aknq9oudo</string>
	<key>API_KEY</key>
	<string>AIzaSyBkO8yOxw5GM-hcDVm70t_o-xVR-6-857Y</string>
	<key>GCM_SENDER_ID</key>
	<string>454968973619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopping</string>
	<key>PROJECT_ID</key>
	<string>shop-examinationsuppgift</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-examinationsuppgift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454968973619:ios:e865a9af245e97ef08c646</string>
</dict>
</plist>